body{
    background-image: url(./assets/images/campus-tour-2.jpg);
    background-size: cover;
}


form h3{
    text-align: center;
    font-size: 30px;

}

form{
    height: 400px;
    width: 400px;
    background-color: rgba(6, 6, 6, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #030000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
   background-color: rgb(255, 230, 6);
   /* transition: 0.5s ease-in; */
   box-shadow: 2px 2px 10px black;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #050505;
}

.dtab{
    position: relative;
    margin: 20px;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid;
    margin: 2%;
    border-spacing: 2px;
    padding: 2px;
  }