body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 19, 19);
}
.container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.fhead{
    height: 40%;
   
}

.fhead h2{
    border-bottom: 2px solid white; 
}

.fbody{
    height: 40%;
}

.ffoot{
    height: 25%;
}
.form{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius:20px;
    height: 50%;
    width: 50%;
}


.form button{
    width: 90%;

}

table , td , th{
    border: 2px solid black;
}

.form h3{
    color: aliceblue;

}